#viz-sider {
    background: #DDD;

    .ant-menu {
        background: #DDD;
        color: rgba(0, 0, 0, 0.65);

        &-item:after {
            border-color: #20d5c6;
        }

        &-item-active,
        &-item-selected {

            a,
            .anticon {
                color: #20d5c6;
            }

            .anticon {
                transition: color 0.3s;
            }
        }

        &-item-selected {
            background-color: #e6ffff;
        }
    }
}