@imgUrl: "../../assets/images";

#platform {
    height: 100vh;
    background: url("@{imgUrl}/background.png") no-repeat center;
    padding-top: 50px;

    .name {
        padding: 40px 0 0;

        img {
            display: block;
            margin: 0 auto;
        }

        img:nth-child(2) {
            margin-top: 40px;
            width: 100%;
            max-width: 801px;
        }
    }

    .product-block {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .product {
            width: 400px;
            text-align: center;
            cursor: pointer;

            .animate-box {
                width: 231px;
                height: 266px;
                margin: 0 auto;
                background: url("@{imgUrl}/block1.png") no-repeat center;
                background-size: contain;
                position: relative;

                img {
                    position: absolute;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-out;
                    animation-play-state: paused;

                    &:nth-child(1) {
                        left: -50px;
                        top: 10px;
                        animation-name: linego1;
                    }

                    &:nth-child(2) {
                        left: 179px;
                        top: 10px;
                        animation-name: linego2;
                    }

                    &:nth-child(3) {
                        left: 65px;
                        top: 207px;
                        animation-name: linego3;
                    }

                    @keyframes linego1 {
                        0% {
                            left: -50px;
                            top: 10px;
                        }

                        16.7% {
                            left: 65px;
                            top: -56px;
                        }

                        33.3% {
                            left: 179px;
                            top: 10px;
                        }

                        50% {
                            left: 179px;
                            top: 142px;
                        }

                        66.7% {
                            left: 65px;
                            top: 207px;
                        }

                        83.3% {
                            left: -50px;
                            top: 141px;
                        }

                        100% {
                            left: -50px;
                            top: 10px;
                        }
                    }

                    @keyframes linego2 {
                        0% {
                            left: 179px;
                            top: 10px;
                        }

                        16.7% {
                            left: 179px;
                            top: 142px;
                        }

                        33.3% {
                            left: 65px;
                            top: 207px;
                        }

                        50% {
                            left: -50px;
                            top: 141px;
                        }

                        66.7% {
                            left: -50px;
                            top: 10px;
                        }

                        83.3% {
                            left: 65px;
                            top: -56px;
                        }

                        100% {
                            left: 179px;
                            top: 10px;
                        }
                    }

                    @keyframes linego3 {
                        0% {
                            left: 65px;
                            top: 207px;
                        }

                        16.7% {
                            left: -50px;
                            top: 141px;
                        }

                        33.3% {
                            left: -50px;
                            top: 10px;
                        }

                        50% {
                            left: 65px;
                            top: -56px;
                        }

                        66.7% {
                            left: 179px;
                            top: 10px;
                        }

                        83.3% {
                            left: 179px;
                            top: 142px;
                        }

                        100% {
                            left: 65px;
                            top: 207px;
                        }
                    }
                }
            }

            .animate-box2 {
                width: 231px;
                height: 266px;
                margin: 0 auto;
                background: url("@{imgUrl}/block.png") no-repeat center;
                background-size: contain;
                position: relative;

                .animate-block {
                    width: 101px;
                    height: 116px;
                    position: absolute;
                    animation-duration: 4.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease;
                    animation-play-state: paused;

                    &:nth-child(1) {
                        left: -50px;
                        top: 10px;
                        background-image: url("@{imgUrl}/block4.png");
                    }

                    &:nth-child(2) {
                        left: 64px;
                        top: 75px;
                        background-image: url("@{imgUrl}/block5.png");
                        animation-name: plat_linego2;
                    }

                    &:nth-child(3) {
                        left: 64px;
                        top: 207px;
                        background-image: url("@{imgUrl}/block3.png");
                        animation-name: plat_linego3;
                    }

                    &:nth-child(4) {
                        left: 179px;
                        top: 9px;
                        background-image: url("@{imgUrl}/block2.png");
                        animation-name: plat_linego4;
                    }

                    @keyframes plat_linego2 {
                        0% {
                            left: -50px;
                            top: 10px;
                            background-image: url("@{imgUrl}/block4.png");
                            opacity: 0;
                        }

                        33.3% {
                            left: 64px;
                            top: 75px;
                            background-image: url("@{imgUrl}/block5.png");
                            opacity: 1;
                        }

                        100% {
                            left: 64px;
                            top: 75px;
                            background-image: url("@{imgUrl}/block5.png");
                        }
                    }

                    @keyframes plat_linego3 {
                        0% {
                            opacity: 0;
                        }

                        33.3% {
                            left: 64px;
                            top: 75px;
                            opacity: 0;
                            background-image: url("@{imgUrl}/block5.png");
                        }

                        40% {
                            opacity: 0.2;
                        }

                        66.6% {
                            left: 64px;
                            top: 207px;
                            opacity: 1;
                            background-image: url("@{imgUrl}/block3.png");
                        }

                        100% {
                            left: 64px;
                            top: 207px;
                            opacity: 1;
                        }
                    }

                    @keyframes plat_linego4 {
                        0% {
                            opacity: 0;
                        }

                        33.3% {
                            left: 64px;
                            top: 75px;
                            opacity: 0;
                            background-image: url("@{imgUrl}/block5.png");
                        }

                        40% {
                            opacity: 0.2;
                        }

                        66.6% {
                            left: 179px;
                            top: 9px;
                            opacity: 1;
                            background-image: url("@{imgUrl}/block2.png");
                        }

                        100% {
                            left: 179px;
                            top: 9px;
                            opacity: 1;
                        }
                    }
                }
            }

            &-name {
                height: 64px;
                margin-top: 100px;
                transition: background-image 1s;
                background-position: center;
                background-repeat: no-repeat;
            }

            .elemv-name {
                background-image: url("@{imgUrl}/elemv.png");
            }

            .elemd-name {
                background-image: url("@{imgUrl}/elemd.png");
            }

            &:hover {
                .animate-box img {
                    animation-play-state: running;
                }

                .animate-box2 .animate-block {
                    animation-play-state: running;
                }

                .elemv-name {
                    background-image: url("@{imgUrl}/elemvbtn.png");
                }

                .elemd-name {
                    background-image: url("@{imgUrl}/elemdbtn.png");
                }
            }
        }
    }
}