.dragpage {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.drag-content {
  height: 100vh;
  display: flex;
  display: -webkit-flex;
}

.item-panel {
  background: #000;
  height: 100%;
  width: 360px;
  border-right: 1px solid #ddd;
  color: #fff;
}

.item-panel .source-img {
  width: 200px;
}

.component-box {
  width: 200px;
  text-align: center;
  cursor: move;
  margin: 0 auto;
}

.item .ant-select {
  width: 100%;
}

.content-panel {
  height: 100%;
  width: calc(100% - 360px);
}

.target-panel {
  height: 100%;
}

.target-title {
  margin-bottom: 0;
}

.target-area {
  height: 100%;
  background: #000;
  overflow: auto;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  justify-content: center;
  color: #aaa;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}

.target-area .ant-radio-wrapper {
  z-index: 10;
  margin-right: 0;
}

.target-area .ant-checkbox-wrapper .ant-checkbox {
  z-index: 10;
}

.target-area .ant-select-selection--single {
  height: 100%;
}

.target-area .ant-select-selection--single .ant-select-selection__rendered {
  height: 100%;
  /* line-height: 100%; */
}

.target-area .ant-select-selection--single .ant-select-selection-selected-value {
  height: 100%;
  display: flex !important;
  display: -webkit-flex;
  align-items: center;
}