iframe {
    width: 100%;
    height: calc(100vh - 50px);
}

#viz-header {
    background: #333;
    height: 50px;
    padding: 0;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viz-header .logo {
    height: 50px;
    width: 219px;
    cursor: pointer;
    padding-left: 40px;
    display: flex;
    align-items: center;
    transition: background-color .3s;
}

.viz-header .logo:hover {
    background-color: #444;
}

.viz-header .logo img {
    height: 28px;
}

#viz-header .ant-menu {
    color: #fff;
    background: #333;
}

#viz-header .ant-menu-item-selected,
#viz-header .ant-menu-item-active {
    color: #000;
    background: #f8ffde;
}

.site-layout-background {
    background: #fff;
}

.drawer-left {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    list-style: none;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.drawer-left li {
    padding: 0 26px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s;
}

.drawer-left .close-menu {
    margin: 10px 0 20px;
    font-size: 36px;
    cursor: pointer;
}

.drawer-left li:hover {
    background-color: #444;
}

.drawer-right {
    width: 600px;
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
}

.drawer-right .title {
    color: #666;
    padding: 25px 0 30px 37px;
    font-size: 36px;
}

.drawer-right .content .template-item {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.drawer-right .content .template-item::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 24px;
    left: 0;
    border: 1px solid #ddd;
}

.drawer-right .content .template-item:after {
    background-position: 0 0;
}

.drawer-right .template-item span {
    font-size: 14px;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #666;
    transition: color .3s;
}

.drawer-right .template-item:hover span {
    color: #20d5c6;
}

.drawer-right .files-title {
    padding-left: 32px;
    color: #333;
    font-size: 24px;
}

.drawer-right .file-list {
    list-style: none;
    padding-left: 32px;
}

.drawer-right .file-list li {
    position: relative;
    font-size: 14px;
    height: 50px;
    line-height: 34px;
    padding: 8px 20px 8px 40px;
    margin: 0 30px 0 0;
    cursor: default;
}

.drawer-right .file-list .icon {
    position: absolute;
    display: block;
    font-size: 25px;
    left: 5px;
    top: 12px;
}